

footer{
    width: 100%;
    height: 400px;
    background-color: $color-background-footer;
    margin-top: 80px;
    text-align: center;
    padding-top: 80px;
    p{
        padding: 20px 10px;
        color: #667085;
    }
    div input{
        width: 360px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid rgba(234, 236, 240, 1);
        padding-left: 25px;   
    }
    button{
        @include button-red()
    }
}
