.container-main{
    .main-item1{
        min-height: 250px;
        margin: 70px 20px;
        text-align: center;
        p, h1{
            padding-top: 20px;
        }
        .main-title-item1{
            font-size: 48px;
            font-weight: 600;
        }
        .main-content-text1{
            width: 700px;
            margin: auto;
            color: #667085;
            font-weight: 400;
        }
        p{
            color: #8E2424;
            font-weight: 600;
            max-width: 100%;
        }
    }
    //*****************************************
   .main-item2{
       display: flex;
       gap: 10px;
       justify-content: center;
       min-height: 300px;
       padding-left: 40px;
     
       div{
           margin: auto;
           display: flex;
           flex-direction: column;
           justify-content: center;
           padding: 10px;
    
       }
       h2{

           font-size: 60px;
           padding-bottom: 10px;
           font-weight: 600;
           color: #8E2424;
       }
       h3{
           font-weight: 500;
           font-size: 18px;
           line-height: 28px;
       }
       p{
           font-size: 16px;
           color: #667085;
       }
   } 
   //*******************************
   .main-item3{
       margin-top: 150px;
       text-align: center;
    h4{
        color: $color1;
        background-color: $color2-main;
        border-radius: 25px;
        width: 150px;
        height: 23px;
        margin: auto;
        font-weight: 500;
   }
   h1{
       margin: 20px;
       font-weight: 600;
       font-size: 36px;
   }
   p{
       color: #667085;
       font-weight: 400;
       font-size: 20px;
       margin-bottom: 90px;
   }

    }
   //******************************
.main-item4{
     display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0px 80px 0px;
    align-items: center;
    padding: 20px;
    h2{
        margin: 0px 0px;
    }
 .main-content-item4{
    width: 100%;
     border: 1px solid rgba(234, 236, 240, 1);
     min-height: 136px;
     border-radius: 16px;
     padding: 20px 15px;   
 }

.main-content-item4 {
    max-width: 768px;
    font-weight: 500;
    color: #667085;
}
.main-content-item4 div{
    display: flex;
    gap: 20px;
    font-weight: 500;
    color: #667085;
    padding-top: 40px;

}
 }
 .main-item5{
     padding-top: 80px;
     background-color: $color2-main;
     text-align: center;
     max-width: 1216px;
     min-height: 404px;
     margin: auto;
     p{
         font-weight: 600;
         color: #8E2424;
         font-size: 14px;
         padding-bottom: 20px;
     }
     h1{
         
         font-weight: 500;
         padding-bottom: 20px;
        }
        h5{
            padding: 5px;
        }
        div p{
         color: #667085;
         font-weight: 400;
         font-size: 14px;
     }
 }
}